<app-kennisbank-searchbar (isActive)="searchBarStatus($event)"></app-kennisbank-searchbar>

<div class="container" *ngIf="!searching">
    <mat-accordion multi="false">
        <div class="items" *ngFor="let category of kennisbankItems">
            <h3>{{category.title}}</h3>
            <mat-expansion-panel *ngFor="let subject of category.children"
                                 class="panel">
                <mat-expansion-panel-header (click)="toggleContent(subject.id)">
                    <mat-panel-title class="title">
                        {{subject.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="contentId === subject.id">
                    <span [innerHTML]="subject.descriptionExternal"></span>
                    <div *ngFor="let item of kennisbankItem">
                        <p class="sub-title" (click)="toggleSubContent(item.id, item.websiteLink)">{{item.title}}</p>
                        <p *ngIf="subTitleId == item.id && item.websiteLink" [innerHTML]="kennisbankWebsiteItem?.descriptionExternal"></p>
                        <p *ngIf="subTitleId == item.id && !item.websiteLink" [innerHTML]="item?.descriptionExternal"></p>
                    </div>
                </div>

            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>

