.container {
  background-color: white;
  position: relative;
  top: 45px;
  margin-bottom: 80px;

  .items {

    .panel {
      margin: 0;
    }

    .title {
      font-weight: 500;
    }

    .sub-title {
      text-decoration: underline;
      cursor: pointer;
      margin-bottom: 3px;
    }

    h3 {
      background-color: #eeeeee;
      padding: 7px 0;
      text-align: center;
    }
  }

}

