.container {
  background-color: white;
  position: relative;
  margin-bottom: 80px;
  top: 45px;

    .close-dialog {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }

  .items {

    .panel {
      margin: 0;
    }

    .title {
      font-weight: 500;
    }

    .sub-title {
      text-decoration: underline;
      cursor: pointer;
      margin-bottom: 3px;
    }

    h3 {
      background-color: #eeeeee;
      padding: 7px 0;
      text-align: center;
    }
  }

}

