.container {
  height: 100%;
  position: relative;
  margin-bottom: 80px;
  top: 45px;

  p {
    margin-right: 5px;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
    margin-right: 5px;
  }

  .table {
    width: 100vw;

    .circle {
      border: 1px solid #929292;
      border-radius: 50%;
      padding: 10px;
      color: #929292;
      font-weight: 600;
      font-size: 10px;
    }

    .inbox {
      color: #929292;
      font-size: 28px;
      height: 28px;
      width: 28px;
      margin-left: 4px;
    }

    .sla-date {
      color: white;
      padding: 5px 10px;
      border-radius: 24px;
    }
  }
}

.task-table-header {
  height: 44px;
}

.task-table-th, .task-table-td  {
  padding-left: 10px !important;
}
