<div class="container">

    <table mat-table [dataSource]="dataSourceTasks" class="mat-elevation-z8 table">
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Categorie </th>
            <td (click)="openCurrentTask(task)" mat-cell *matCellDef="let task"> {{task.messageCategory.name}} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Onderwerp </th>
            <td (click)="openCurrentTask(task)" mat-cell *matCellDef="let task"> {{task.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="sla">
            <th mat-header-cell *matHeaderCellDef> SLA-datum </th>
            <td (click)="openCurrentTask(task)" mat-cell *matCellDef="let task"> {{task.slaDateTime | date:'dd-MM-yyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTasks;"></tr>
    </table>

    <button (click)="logOut()">Logout</button>
</div>
