<div class="container">
    <mat-list>
        <mat-list-item *ngFor="let task of tasks">
<!--            <mat-icon class="material-module-icons icon-image-preview">assignment</mat-icon>-->
            <p>{{ task.messageCategory.name }}</p>
            <mat-icon class="md-default-theme-theme material-icons" role="img">email</mat-icon>
            <p>{{ task.subject }}</p>
        <!--        <p>{{datee}}</p>-->
        <!--        <p>getsla{{getSla()}}</p>-->
        </mat-list-item>
    </mat-list>
</div>
