.container {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;

  .header {
    background-color: #3f464b;
    position: relative;
    top: 0;
    height: 40px;
    width: 100%;
    color: white;
    margin-bottom: 10px;

    h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    .close-dialog {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  h3 {
    margin-top: 5px;
  }
  p {
    font-size: 16px;
  }

  .addresses {
    font-weight: 600;
  }

  .list-item {
    height: 35px;
    margin-bottom: 10px;

    .client-phonenumber {
      margin-left: 50px;
    }
    span {
      white-space: normal;
    }
  }

  .action-icon {
    background-color: white;
    color: #0070c0;
    font-size: 28px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  }
  .sms {
    margin-left: 5px;
  }

  .task-actions {
    margin-bottom: 5px;
  }

  .no-button {
    background-color: #0070C0;
    height: 56px;
    width: 56px;
    margin-right: 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

    .task-preset {
      font-size: 32px;
      height: 32px;
      width: 32px;
      margin-top: 10px;
      color: white;
    }
  }
}

