<div class="container">

    <div class="header">
        <h3>{{client?.fullname}}</h3>
        <mat-icon class="md-default-theme-theme material-icons close-dialog" role="img" aria-hidden="true" (click)="onNoClick()">close
        </mat-icon>
    </div>
    <mat-list>
        <h3 matLine>Geslacht:</h3>
        <mat-list-item>
            <p matLine>
                <span>{{client?.gender}}</span>
            </p>
        </mat-list-item>
        <h3 matLine>Geboortedatum:</h3>
        <mat-list-item>
            <p matLine>
                <span>{{client?.dateofbirth | date: 'dd-MM-yyyy'}}
                    <span *ngIf="client.age">({{client.age}} jaar)</span>
                </span>
            </p>
        </mat-list-item>

        <div *ngIf="client.address.length !== 0">
            <h3 matLine *ngIf="client.address.length === 1; else multipleAddresses">Adres:</h3>
            <ng-template #multipleAddresses>
                <h3>Adressen:</h3>
            </ng-template>
            <mat-list-item *ngFor="let address of client?.address" class="list-item">
                <a href="https://www.google.com/maps/search/?api=1&query={{address.fullAddress}}">
                    <img src="assets/google-maps.svg" height="25px" width="25px" class="action-icon">
                </a>
                <p matLine>
                    <span>{{address?.fullAddress}}</span>
                </p>
            </mat-list-item>
        </div>

        <div *ngIf="client.phonenumber.length !== 0">
            <h3 matLine *ngIf="client.phonenumber.length === 1; else multiplePhoneNumbers">Telefoonnummer:</h3>
            <ng-template #multiplePhoneNumbers>
                <h3>Telefoonnummers:</h3>
            </ng-template>
            <mat-list-item *ngFor="let phone of client.phonenumber" class="list-item">
                <a [href]="call(phone?.number) | safeUrl"><mat-icon matListIcon class="action-icon">call</mat-icon></a>
                <a [href]="sendSms(phone?.number) | safeUrl"><mat-icon matListIcon class="action-icon sms">sms</mat-icon></a>
                <p matLine>
                    <span class="client-phonenumber">{{phone.number}}</span>
                </p>
            </mat-list-item>
        </div>

        <div *ngIf="client.emailaddress.length !== 0">
            <h3 matLine *ngIf="client.emailaddress.length === 1; else multipleEmails">E-mailadres:</h3>
            <ng-template #multipleEmails>
                <h3>E-mailadressen:</h3>
            </ng-template>
            <mat-list-item class="list-item" *ngFor="let email of client.emailaddress" class="list-item">
                <p matLine>
                    <span>{{email.address}}</span>
                </p>
            </mat-list-item>
        </div>
        <div class="task-actions">
            <h3 class="task-actions" matLine>Taak aanmaken</h3>

            <button class="no-button" mat-icon-button>
                <mat-icon class="ng-binding md-default-theme-theme material-icons task-preset"
                          role="img" aria-hidden="true" (click)="selectTaskType('telefoon')">phone</mat-icon>
            </button>
            <button class="no-button" mat-icon-button>
                <mat-icon class="ng-binding md-default-theme-theme material-icons task-preset"
                          role="img" (click)="selectTaskType('email')">email</mat-icon>
            </button>
        </div>
    </mat-list>

</div>
