<div class="toewijzen" *ngIf="__action === 'toewijzen' && formStepThree">


    <form [formGroup]="formStepThree">
        <mat-form-field floatLabel="always" class="form-field-100" *ngIf="categories">
            <mat-label>Categorie*</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.name">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <app-employees [formStepThree]="formStepThree"></app-employees>

        <mat-form-field class="form-field-100">
            <input formControlName="subject"
                   matInput
                   placeholder="Onderwerp">
        </mat-form-field>

        <mat-form-field class="form-field-100">
            <input formControlName="description"
                   matInput
                   placeholder="Omschrijving">
        </mat-form-field>

        <button type="submit" mat-raised-button class="md-primary md-raised md-button md-default-theme-theme md-ink-ripple" (click)="onSubmit2(formStepThree.value)" matStepperNext>Toevoegen aan dossier</button>


    </form>
</div>

<div class="beantwoorden" *ngIf="__action === 'beantwoorden' && formStepThree">
    beantwoorden

    <mat-form-field class="form-field-100">
        <input matInput placeholder="Onderwerp" [value]="currentTask?.subject">
    </mat-form-field>

    <div class="message" contenteditable="true" [innerHTML]="templateValue?.response.body"></div>

    <mat-checkbox [checked]="emailIsChecked" (change)="emailIsChecked = !emailIsChecked">
        Verstuur e-mail na verwerking
    </mat-checkbox>

    <!--<mat-form-field class="form-field">-->
        <!--<input matInput placeholder="Aan">-->
    <!--</mat-form-field>-->

    <mat-checkbox [checked]="emailIsChecked" (change)="closeDossierIsChecked = !closeDossierIsChecked">
        Sluit dossier na verwerking
    </mat-checkbox>

    <button (click)="test()">submit</button>

</div>
