.container {
  background-color: white;
  list-style-type: none;
}

.links {
  margin-top: 10px;
}

.tasks {
  margin-top: 10px;
}
  .searchbar {
    width: 100vw;
  }

  .table {
    width: 100vw;
  }

