
  <mat-grid-list [cols]="breakpoint" rowHeight="fit" class="container">
    <mat-grid-tile [rowspan]="rowspanForm" class="top-tile">
      <div>
        <h2>Welkom!</h2>
        <p *ngIf="sessionExpiredMessage" class="errorMessage">{{sessionExpiredMessage}}</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <mat-form-field>
            <input matInput placeholder="Gebruikersnaam" name="usernameVield" formControlName="username" type="text">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Wachtwoord" name="passwordVield" formControlName="password" [type]="hide ? 'password' : 'text'">
            <span mat-icon-button matSuffix (click)="hide = !hide" class="hidePassword">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
          </mat-form-field>

          <button type="submit" mat-raised-button class="md-primary md-raised md-button md-default-theme-theme md-ink-ripple login"
            [disabled]="!form.valid">Inloggen</button>
        </form>

        <a href="#" class="forgot-password">Wachtwoord vergeten?</a>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="rowspanLogo" class="bottom-tile">
        <img src="/assets/zig-logo.svg" alt="Zig KVS" height="100">

    </mat-grid-tile>
  </mat-grid-list>
