<div class="container">
<input [formControl]="autoCompleteFormControl"
       type="text"
       placeholder="Zoek klantkaart"
       class="searchClient"
/>

    <div class="clients" *ngFor="let client of clients" (click)="selectClient(client.id)">
        {{ client.initials }} ({{ client.firstname }}) {{ client.lastname }} <br>
        {{ client.personsnumber }} |
        {{ client.gender }} |
        {{ client.dateofbirth | date: 'dd-MM-yyyy' }} |
        {{ client.age }} jaar
    </div>
</div>
