.container {

  .search-client {
    width: 100%;
  }

  .found-clients {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    margin-bottom: 10px;

    .found-client {
      height: 42px;
      line-height: 42px;
    }
  }
}