<div class="container" [formGroup]="formStepTwo">
    <mat-form-field class="form-field search-client">
        <input matInput [formControl]="autoCompleteFormControl"
               type="text"
               placeholder="Zoek klant"
               formControlName="relatieId"
        />
    </mat-form-field>
    <div class="found-clients">
        <ng-container *ngFor="let client of clients">
            <mat-option (click)="selectClient(client.id)" class="found-client">
                {{ client.initials }} ({{ client.firstname }}) {{ client.lastname }}<span *ngIf="client.dateofbirth">, {{ client.dateofbirth | date: 'dd-MM-yyyy' }} ({{ client.age }})</span>
                <mat-divider></mat-divider>
            </mat-option>
            <p *ngIf="clients?.length === 0">Geen klanten gevonden.</p>
        </ng-container>
    </div>
</div>
