<div class="step-1-container">
    <form [formGroup]="formStepOne">
        <button class="no-button" matStepperNext mat-icon-button (click)="selectTaskType('telefoon')">
            <mat-icon class="ng-binding md-default-theme-theme material-icons task-preset"
                role="img" aria-hidden="true">phone</mat-icon>
        </button>
        <button class="no-button" matStepperNext mat-icon-button (click)="selectTaskType('email')">
            <mat-icon class="ng-binding md-default-theme-theme material-icons task-preset"
              role="img">email</mat-icon>
        </button>
    </form>
</div>
