.step-1-container {
  width: 100%;

  .no-button {
    background-color: #0070C0;
    height: 56px;
    width: 56px;
    margin-right: 10px;
  }

  .task-preset {
    font-size: 32px;
    height: 32px;
    width: 32px;
    margin-top: 5px;
    color: white;

  }
}
