.container {
    position: relative;
    width: 100vw;
    z-index: 999;
    //margin-bottom: 80px;

    .search-bar {
        position: fixed;
        width: 100%;
        height: 45px;
    }

    .kennisbank-search-bar {
        box-sizing: border-box;
        padding: 5px;
        font-size: 18px;
        height: 100%;
        width: 100%;
    }

    .found-articles {
        position: relative;
        top: 45px;
    }
}
