<p>client-list works!</p>

<div class="container" *ngFor="let client of clients$ | async">
    <li>{{client.title}} {{client.fullname}} ({{client.age}})</li>
    <li *ngFor="let address of client.address">{{address.fullAddress}}<a href="https://www.google.com/maps/search/?api=1&query={{address.fullAddress}}">Open in google maps</a>
    </li>
    <li *ngFor="let phone of client.phonenumber">{{phone.number}} <br>
        <a href="tel:{{phone.number}}">Bel klant</a><br>
        <a [href]="sendSms(phone.number) | safeUrl">{{phone.number}}SMS klant</a>
        <button (click)="makeSafe(phone.number)">make safe pls</button>
    </li>
    <li *ngFor="let email of client.emailaddress">{{email.address}}
        <a href="mailto:{{email.address}}?&subject={{emailSubject}}&body={{emailBody}}">Mail klant"</a>
    </li>
    <br>
</div>

<a href="tel:0634458157">0634458157 bellen</a> <br><br>
<p (click)="sendText()">aaaaaaaaaaaaaaaaaaaa</p>
