<div class="container" *ngIf="formStepFour">
    <h5>Maak een nieuw dossier</h5>
        <form [formGroup]="formStepFour" (ngSubmit)="onSubmit3(formStepFour.value)">
        <mat-radio-group formControlName="dossierId">
            <div *ngIf="contactReason">
            <mat-radio-button>
                <mat-form-field floatLabel="always" class="form-field-35" *ngIf="categories">
                    <mat-label>Categorie*</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let c of categories" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field floatLabel="always" class="form-field-35" *ngIf="types">
                    <mat-label>Type*</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let t of types" [value]="t.id">{{t.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [checked]="isChecked"
                              class="example-margin"
                              (change)="isChecked = !isChecked">
                </mat-checkbox>

                <mat-form-field class="form-field-35">
                    <input
                           matInput
                           placeholder="Onderwerp / Vraag"
                           [value]="isChecked ? contactReason : ''"
                           (keyup)="isChecked = false">
                </mat-form-field>

            </mat-radio-button>
            </div>
            <div *ngIf="openDossiers">
                <h5>Toevoegen aan een lopend dossier</h5>
                <mat-radio-button *ngFor="let openDossier of openDossiers" class="example-radio-button" [value]="openDossier.id">
                    {{openDossier.id}} |
                    {{openDossier.dossierCategory.name}} |
                    {{openDossier.dossierType.name}} |
                    {{openDossier.subject}}
                </mat-radio-button>
            </div>
        </mat-radio-group>
        <button type="submit" mat-raised-button class="md-primary md-raised md-button md-default-theme-theme md-ink-ripple" matStepperNext>Toevoegen aan dossier</button>
    </form>
</div>
