<div class="container">
    <app-header title="Taak aanmaken"></app-header>

    <div class="stepper">
        <mat-vertical-stepper linear #stepper>

            <mat-step>
                <ng-template matStepLabel>Type taak kiezen</ng-template>
                <app-task-creation-step-one (taskType)="getPreset($event)"></app-task-creation-step-one>
            </mat-step>

            <mat-step [stepControl]="formStepTwo">
                <ng-template matStepLabel>Taak aanmaken</ng-template>
                <app-task-creation-step-two [taskType]="taskType"
                                            [createWithClient]="selectedClient"
                                            (taskEmitter)="getTask($event)"
                                            (dossierEmitter)="getDossier($event)"
                                            (action)="getAction($event)"
                                            (categoriesEmitter)="getCategories($event)"
                                            (typesEmitter)="getTypes($event)"
                                            (contactReasonEmitter)="getContactReason($event)"
                                            (templateEmitter)="getTemplate($event)"
                                            (processWorkflowEmitter)="getProcessWorkflow($event)"
                                            [selectedClient]="selectedClient">
                </app-task-creation-step-two>
            </mat-step>

            <mat-step [stepControl]="formStepThree">
                <ng-template matStepLabel>Toewijzen/Beantwoorden</ng-template>
                <app-task-creation-step-three [task]="task"
                                              [dossier]="dossier"
                                              [action]="action"
                                              [categoriesList]="categories"
                                              [template]="template"
                                              [workflow]="processWorkFlow">
                </app-task-creation-step-three>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
