.container {
  background-color: white;
  height: calc(100vh - 80px);
  overflow-y: auto;

  .header {
    background-color: #3f464b;
    position: relative;
    top: 0;
    height: 40px;
    width: 100%;
    color: white;
    margin-bottom: 10px;

    h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    .close-dialog {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  .form-field {
    width: 40%;
    margin-right: 15px;

    .message-body {
      min-height: 40px !important;
      max-height: 90px !important;
    }
  }
  .form-50 {
    width: 50%;
    margin: 0;
  }

  .name {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
