.container {
  background-color: white;

  .header {
    background-color: #3f464b;
    position: relative;
    top: 0;
    height: 40px;
    width: 100%;
    color: white;
    margin-bottom: 10px;

    h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    .close-dialog {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  .task-preset {
    font-size: 32px;
    height: 32px;
    width: 32px;
    background-color: #0070c0;
    color: white;
    padding: 12px;
    border-radius: 50%
  }


  .form-field {
    width: 40%;
    margin-right: 15px;

    .message-body {
      min-height: 40px !important;
      max-height: 90px !important;
    }
  }

  .name {
    font-weight: 700;
    font-size: 1.2rem;
  }
}