<p>add-task works!</p>
<button (click)="addTask()">add task</button>

<mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let category of categories$ | async" [value]="category.name">
            {{category.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let contactReason of contactReasons$ | async" [value]="contactReason.name">
            {{contactReason.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let dossierCategory of dossierCategories$ | async" [value]="dossierCategory.name">
            {{dossierCategory.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let messageChannel of messageChannels$ | async" [value]="messageChannel.name">
            {{messageChannel.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let type of types$ | async" [value]="type.name">
            {{type.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<app-navigation></app-navigation>
