<div class="container">
    <div class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active-route">
            <mat-icon class="md-default-theme-theme material-icons nav-icon" role="img">dashboard</mat-icon>
        </a>
    </div>
    <div class="nav-item">
        <a routerLink="/kennisbank" routerLinkActive="active-route">
            <mat-icon class="md-default-theme-theme material-icons nav-icon" role="img">import_contacts</mat-icon>
        </a>
    </div>
    <div class="nav-item">
        <a routerLink="/klanten" routerLinkActive="active-route">
        <mat-icon class="md-default-theme-theme material-icons nav-icon" role="img" aria-hidden="true">contacts</mat-icon>
        </a>
    </div>
    <div class="nav-item">
        <a routerLink="/taak-aanmaken" routerLinkActive="active-route">
            <mat-icon class="md-default-theme-theme material-icons nav-icon add-icon" role="img" aria-hidden="true">add</mat-icon>
        </a>
    </div>

</div>

<!--person_add-->
<!--call-->
<!--mail_outline-->
<!--email-->
<!--sms-->
<!--contacts-->
