.container {
  background-color: white;

  .header {
    background-color: #3f464b;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    z-index: 999;

    h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    span {
      position: absolute;
      right: 0;

      .save, .delete, .close-dialog {
        position: relative;
        font-size: 34px;
        height: 34px;
        width: 34px;
      }

      .save {
        margin-right: 3px;
        top: -3px;
      }

      .delete {
        top: -3px;
      }

      .close-dialog {
        font-size: 40px;
        height: 40px;
        width: 40px;
      }

      .vertical-divider {
        background-color: white;
        height: 30px;
        width: 1px;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  .task-stepper {
    margin-top: 40px;

    .form-field {
      width: 40%;
      margin-right: 15px;

      .message-body {
        min-height: 40px !important;
        max-height: 90px !important;
      }
    }

    .form-50 {
      width: 50%;
      margin: 0;
    }

    .name {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
}
