<!--    <div class="currentClient" *ngIf="currentClient">-->
<!--        {{currentClient.initials}}-->
<!--        {{currentClient.firstname}}-->
<!--        {{currentClient.lastname}}-->
<!--        <div *ngFor="let email of currentClient.emailaddress">-->
<!--            {{email.address}}-->
<!--        </div>-->
<!--        <div *ngFor="let phone of currentClientPhoneNumber">{{phone.number}}</div>-->
<!--        <div *ngFor="let address of currentClientAddress">-->
<!--            {{address.street }}-->
<!--            {{address.housenumber}} <span *ngIf="address.housenumberaddition">{{address.housenumberaddition}}</span>-->
<!--            {{address.postalcode }}-->
<!--            {{address.city }}-->
<!--        </div>-->

<!--    </div>-->
