.form-field {
  width: 40%;
  margin-right: 15px;

}
.form-field-50 {
  width: 50%;
  margin: 0;
}

.form-field-100 {
  width: 100%;
}

.message {
  border: 2px solid rgba(0,0,0,.2);
  padding: 10px;
  margin-bottom: 10px;
}

.submit-step-2 {
  margin-right: 10px;
}

.current-client {
  margin-bottom: 5px;
  border: 1px solid #929292;
  padding: 5px;

  .redirect {
    text-decoration: underline;
    color: blue;
  }

  .close-button {
    font-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 0;
  }
}
